server:
  port: 8082

info:
  build:
    name: web-crud
    description: Demo project for Spring Boot
    artifact: web-crud

spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    open-in-view: false
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
  h2:
    console:
      enabled: true
  output:
    ansi:
      enabled: ALWAYS

logging:
  level:
    com:
      training:
        webcrud: TRACE

jwt:
  secret: TESTE
  minutesToExpire: 99999